<!-- Page title -->
<div class="page-title">
  <h2><i class="fa fa-group color"></i> Consultants
    <small>Team of Chirripó Consultores</small>
  </h2>
  <hr/>
</div>
<!-- Page title -->

<div class="row">
  <div class="col-md-12">

    <div class="awidget full-width">
      <div class="awidget-head">
        <div class="col-lg-6">
          <h3>All consultants</h3>
        </div>
        <div class="col-lg-6 button-context">
          <button type="button" class="btn btn-primary">New</button>
        </div>
      </div>
      <div class="awidget-body">

        <table class="table table-hover table-bordered ">
          <thead>
          <tr>
            <th>#</th>
            <th>Name</th>
            <th>Location</th>
            <th>Date</th>
            <th>Type</th>
            <th>Status</th>
            <th>Control</th>
          </tr>
          </thead>
          <tbody>

          <tr>
            <td>1</td>
            <td>Ravi Kumar</td>
            <td>India</td>
            <td>23/12/2012</td>
            <td>Paid</td>
            <td><span class="label label-success">Active</span></td>
            <td>

              <button class="btn btn-xs btn-success"><i class="fa fa-check"></i></button>
              <button class="btn btn-xs btn-warning"><i class="fa fa-pencil"></i></button>
              <button class="btn btn-xs btn-danger"><i class="fa fa-times"></i></button>

            </td>
          </tr>


          <tr>
            <td>2</td>
            <td>Parneethi Chopra</td>
            <td>USA</td>
            <td>13/02/2012</td>
            <td>Free</td>
            <td><span class="label label-danger">Banned</span></td>
            <td>

              <button class="btn btn-default btn-xs"><i class="fa fa-check"></i></button>
              <button class="btn btn-default btn-xs"><i class="fa fa-pencil"></i></button>
              <button class="btn btn-default btn-xs"><i class="fa fa-times"></i></button>

            </td>
          </tr>

          <tr>
            <td>3</td>
            <td>Kumar Ragu</td>
            <td>Japan</td>
            <td>12/03/2012</td>
            <td>Paid</td>
            <td><span class="label label-success">Active</span></td>
            <td>

              <div class="btn-group">
                <button class="btn btn-default btn-xs"><i class="fa fa-check"></i></button>
                <button class="btn btn-default btn-xs"><i class="fa fa-pencil"></i></button>
                <button class="btn btn-default btn-xs"><i class="fa fa-times"></i></button>
              </div>

            </td>
          </tr>

          <tr>
            <td>4</td>
            <td>Vishnu Vardan</td>
            <td>Bangkok</td>
            <td>03/11/2012</td>
            <td>Paid</td>
            <td><span class="label label-success">Active</span></td>
            <td>

              <div class="btn-group">
                <button class="btn btn-xs btn-success"><i class="fa fa-check"></i></button>
                <button class="btn btn-xs btn-warning"><i class="fa fa-pencil"></i></button>
                <button class="btn btn-xs btn-danger"><i class="fa fa-times"></i></button>
              </div>

            </td>
          </tr>

          <tr>
            <td>5</td>
            <td>Anuksha Sharma</td>
            <td>Singapore</td>
            <td>13/32/2012</td>
            <td>Free</td>
            <td><span class="label label-danger">Banned</span></td>
            <td>

              <div class="btn-group1">
                <button class="btn btn-xs btn-success"><i class="fa fa-check"></i></button>
                <button class="btn btn-xs btn-warning"><i class="fa fa-pencil"></i></button>
                <button class="btn btn-xs btn-danger"><i class="fa fa-times"></i></button>
              </div>

            </td>
          </tr>

          </tbody>
        </table>


        <div class="clearfix"></div>

      </div>
    </div>


  </div>
</div>
