<!-- Page content -->

<div class="page-content blocky">
  <div class="container">

    <div class="side-cont">

      <div class="sidebar-dropdown"><a href="#">MENU</a></div>

      <div class="sidey">
        <ul class="nav">
          <!-- Main menu -->
          <li><a href="index.html"><i class="fa fa-home"></i> Dashboard</a></li>
          <li><a href="charts.html"><i class="fa fa-bar-chart-o"></i> Charts</a></li>
          <li class="has_submenu current open">
            <a href="#">
              <i class="fa fa-sitemap"></i> Elements
              <span class="caret pull-right"></span>
            </a>
            <!-- Sub menu -->
            <ul>
              <li><a href="ui.html">User Interface</a></li>
              <li><a href="tables.html">Tables</a></li>
              <li class="active"><a href="form.html">Form</a></li>
            </ul>
          </li>
          <li><a href="widgets.html"><i class="fa fa-th"></i> Widgets</a></li>
          <li class="has_submenu">
            <a href="#">
              <i class="fa fa-file"></i> Pages
              <span class="caret pull-right"></span>
            </a>
            <ul>
              <li><a href="login.html">Login</a></li>
              <li><a href="register.html">Register</a></li>
              <li><a href="errorlog.html">Error Log</a></li>
              <li><a href="invoice.html">Invoice</a></li>
              <li><a href="404.html">404</a></li>
              <li><a href="makepost.html">Make Post</a></li>
              <li><a href="profile.html">Profile</a></li>
              <li><a href="media.html">Media</a></li>
            </ul>
          </li>
          <li><a href="calendar.html"><i class="fa fa-calendar"></i> Calendar</a></li>
          <li><a href="gallery.html"><i class="fa fa-camera"></i> Gallery</a></li>
        </ul>
      </div>
    </div>

    <div class="mainy">
      <!-- Page title -->
      <div class="page-title">
        <h2><i class="fa fa-list color"></i> Form
          <small>Subtext for header</small>
        </h2>
        <hr/>
      </div>
      <!-- Page title -->

      <div class="row">
        <div class="col-md-12">
          <div class="awidget full-width">
            <div class="awidget-head">
              <h3>Form</h3>
            </div>
            <div class="awidget-body">
              <form class="form-horizontal" role="form">

                <div class="form-group">
                  <label class="col-lg-2 control-label">Input Box</label>

                  <div class="col-lg-10">
                    <input type="text" class="form-control" placeholder="Input Box">
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-lg-2 control-label">Password</label>

                  <div class="col-lg-10">
                    <input type="password" class="form-control" placeholder="Password Box">
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-lg-2 control-label">Textarea</label>

                  <div class="col-lg-10">
                    <textarea class="form-control" rows="3" placeholder="Textarea"></textarea>
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-lg-2 control-label">Checkbox</label>

                  <div class="col-lg-10">
                    <label class="checkbox-inline">
                      <input type="checkbox" id="inlineCheckbox1" value="option1"> 1
                    </label>
                    <label class="checkbox-inline">
                      <input type="checkbox" id="inlineCheckbox2" value="option2"> 2
                    </label>
                    <label class="checkbox-inline">
                      <input type="checkbox" id="inlineCheckbox3" value="option3"> 3
                    </label>
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-lg-2 control-label">Radio Box</label>

                  <div class="col-lg-10">
                    <div class="radio">
                      <label>
                        <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                        Option one is this and that&mdash;be sure to include why it's great
                      </label>
                    </div>
                    <div class="radio">
                      <label>
                        <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
                        Option two can be something else and selecting it will deselect option one
                      </label>
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-lg-2 control-label">Select Box</label>

                  <div class="col-lg-10">
                    <select class="form-control">
                      <option>1</option>
                      <option>2</option>
                      <option>3</option>
                      <option>4</option>
                      <option>5</option>
                    </select>
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-lg-2 control-label">Select Box</label>

                  <div class="col-lg-10">
                    <select multiple class="form-control">
                      <option>1</option>
                      <option>2</option>
                      <option>3</option>
                      <option>4</option>
                      <option>5</option>
                    </select>
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-lg-2 control-label">CLEditor</label>

                  <div class="col-lg-10">
                    <textarea class="cleditor" name="input"></textarea>
                  </div>
                </div>

                <div class="form-group">
                  <div class="col-lg-offset-2 col-lg-10">
                    <hr/>
                    <button type="button" class="btn btn-default">Default</button>
                    <button type="button" class="btn btn-primary">Primary</button>
                    <button type="button" class="btn btn-success">Success</button>
                    <button type="button" class="btn btn-info">Info</button>
                    <button type="button" class="btn btn-warning">Warning</button>
                    <button type="button" class="btn btn-danger">Danger</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="clearfix"></div>

  </div>
</div>

