<!-- Page title -->
<div class="page-title">
  <h2><i class="fa fa-group color"></i> New consultant
    <small>Add new consultant to the organization.</small>
  </h2>
  <hr/>
</div>
<!-- Page title -->

<div class="row">
  <div class="col-md-12">



  </div>
</div>
