<!-- Page title -->
<div class="page-title">
  <h2><i class="fa fa-group color"></i> New consultant
    <small></small>
  </h2>
  <hr/>
</div>
<!-- Page title -->
<%- partial('../shared/_alerts.ejs') %>

<div class="row">
  <div class="col-md-12">

    <div class="awidget full-width">
      <div class="awidget-head">
        <h3>* Fields required</h3>
      </div>
      <div class="awidget-body">

        <form action="/consultants" method="post" class="form-horizontal" role="form">

          <%- partial('_form.ejs') %>


          <div class="form-group">
            <div class="col-lg-offset-2 col-lg-10">
              <hr/>
              <a href="/admin/consultants">
                <button type="button" class="btn btn-default">Cancel</button>
              </a>
              <button type="submit" class="btn btn-primary">Save</button>
            </div>
          </div>
        </form>
      </div>
    </div>


  </div>
</div>
