<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <!-- Title here -->
  <title>Chirripó Consultores</title>
  <!-- Description, Keywords and Author -->
  <meta name="description" content="Your description">
  <meta name="keywords" content="Your,Keywords">
  <meta name="author" content="ResponsiveWebInc">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Styles -->
  <!-- Bootstrap CSS -->
  <link href="/admin/css/bootstrap.min.css" rel="stylesheet">
  <!-- Animate css -->
  <link href="/admin/css/animate.min.css" rel="stylesheet">
  <!-- Gritter -->
  <link href="/admin/css/jquery.gritter.css" rel="stylesheet">
  <!-- Calendar -->
  <link href="/admin/css/fullcalendar.css" rel="stylesheet">
  <!-- Bootstrap toggable -->
  <link href="/admin/css/bootstrap-switch.css" rel="stylesheet">
  <!-- Date and Time picker -->
  <link href="/admin/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
  <!-- Star rating -->
  <link href="/admin/css/rateit.css" rel="stylesheet">
  <!-- Star rating -->
  <link href="/admin/css/jquery.cleditor.css" rel="stylesheet">
  <!-- jQuery UI -->
  <link href="/admin/css/jquery-ui.css" rel="stylesheet">
  <!-- prettyPhoto -->
  <link href="/admin/css/prettyPhoto.css" rel="stylesheet">
  <!-- Font awesome CSS -->
  <link href="/admin/css/font-awesome.min.css" rel="stylesheet">
  <!-- Custom CSS -->
  <link href="/admin/css/style.css" rel="stylesheet">

  <!-- Favicon -->
  <link rel="shortcut icon" href="#">
</head>

<body>


<!-- Logo & Navigation starts -->

<div class="header">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <!-- Logo -->
        <div class="logo">
          <h1><a href="/admin">Chirripó Consultores</a></h1>
        </div>
      </div>
      <div class="col-md-6">

      </div>
    </div>
  </div>
</div>

<!-- Logo & Navigation ends -->


<div class="page-content blocky">
  <div class="container">

    <%- body %>

  </div>
</div>


<!-- Footer starts -->
<footer>
  <div class="container">

    <div class="copy text-center">
      <!--Powered by <a href="http://www.drupux.com/" target="_blank">Drupux</a>-->
    </div>

  </div>
</footer>
<!-- Footer ends -->

<!-- Scroll to top -->
<span class="totop"><a href="#"><i class="fa fa-chevron-up"></i></a></span>

<!-- Javascript files -->
<!-- jQuery -->
<script src="/admin/js/jquery.js"></script>
<!-- Bootstrap JS -->
<script src="/admin/js/bootstrap.min.js"></script>
<!-- jQuery UI -->
<script src="/admin/js/jquery-ui-1.10.2.custom.min.js"></script>
<!-- jQuery Peity -->
<script src="/admin/js/peity.js"></script>
<!-- Calendar -->
<script src="/admin/js/fullcalendar.min.js"></script>
<!-- jQuery Star rating -->
<script src="/admin/js/jquery.rateit.min.js"></script>
<!-- prettyPhoto -->
<script src="/admin/js/jquery.prettyPhoto.js"></script>

<!-- jQuery flot -->
<!--[if lte IE 8]>
<script language="javascript" type="text/javascript" src="/admin/js/excanvas.min.js"></script><![endif]-->
<script src="/admin/js/jquery.flot.js"></script>
<script src="/admin/js/jquery.flot.pie.js"></script>
<script src="/admin/js/jquery.flot.stack.js"></script>
<script src="/admin/js/jquery.flot.resize.js"></script>


<!-- Gritter plugin -->
<script src="/admin/js/jquery.gritter.min.js"></script>
<!-- CLEditor -->
<script src="/admin/js/jquery.cleditor.min.js"></script>
<!-- Date and Time picker -->
<script src="/admin/js/bootstrap-datetimepicker.min.js"></script>
<!-- jQuery Toggable -->
<script src="/admin/js/bootstrap-switch.min.js"></script>
<!-- Respond JS for IE8 -->
<script src="/admin/js/respond.min.js"></script>
<!-- HTML5 Support for IE -->
<script src="/admin/js/html5shiv.js"></script>
<!-- Custom JS -->
<script src="/admin/js/custom.js"></script>
</body>
</html>
